DB_NAME=ong
DB_USER=root
DB_PASSWORD=
DB_PORT=3306
SECRET_KEY=example
SENDGRID_API_KEY=
SENDGRID_VERIFY_SENDER=
SENDGRID_VERIFY_SENDER=
AWS_BUCKET_NAME = 
AWS_BUCKET_REGION = 
AWS_ACCESS_KEY = 
AWS_SECRET_KEY =